################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode_1/obj
/AdventOfCode_1/.vs/AdventOfCode_1/FileContentIndex/7304a2ea-0ec7-4815-8f6c-450eec114b76.vsidx
/AdventOfCode_1/.vs/AdventOfCode_1/FileContentIndex/read.lock
/AdventOfCode_1/.vs/slnx.sqlite
